.main-section {
    width: 100%;
    background: $backgourd-color;
    @include center-column();
    padding: 100px 0 0 0;
    &__content-container {
        width: 77%;
        position: relative;
        @include center-column();
        .info-level-one-wrapper {
            @include center();
            @include smaller-than-800 {
                @include center-column();
            }
            &__content-wrapper {
                max-width: 550px;
                z-index: 2;
                .heading-text {
                    text-transform: uppercase;
                    font-size: 42px;
                    margin-bottom: 40px;
                    @include smaller-than-880 {
                        font-size: 35px;
                    }
                    @include smaller-than-600 {
                        font-size: 30px;
                        text-align: center;
                    }
                }
                .content-text {
                    font-size: 25px;
                    margin-bottom: 70px;
                    font-family: $content-font;
                    @include smaller-than-880 {
                        font-size: 20px;
                    }
                    @include smaller-than-600 {
                        text-align: center;
                    }
                    
                }
            }

            &__img-wrapper {
                padding: 200px 0 20px 30px;
                z-index: 2;
                position: relative;
                @include smaller-than-800 {
                    padding: 50px 0 50px 0;
                }
                .img-box {
                    position: relative;
                    max-width: 570px;
                    width: 100%;
                    @include center();
                    overflow: hidden;
                    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
                    @include smaller-than-1050 {
                        max-width: 400px;
                    }
                    @include smaller-than-800 {
                        max-width: 570px;
                    }
                    @include smaller-than-600 {
                        max-width: 450px;
                        height: 500px;
                    }
                    @include smaller-than-480 {
                        max-width: 350px;
                        height: 440px;
                        clip-path: none;
                    }
                    @include smaller-than-380 {
                        max-width: 300px;
                    }
                    &::before {
                        width: 100%;
                        height: 100%;
                        background: #000;
                        opacity: 0.3;
                        z-index: 1;
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                    }
                    &::after {
                        position: absolute;
                        content: 'IMPREZA';
                        font-family: $header-font;
                        font-size: 3vw;
                        opacity: 0;
                        transform: translateY(-70px) rotate(-5deg);
                        transition: 0.2s;
                        z-index: 1;
                    }
                    &:hover::after {
                        opacity: 1;
                        transform: translateY(0px) rotate(-5deg);
                    }

                    .level-one-img {
                        animation: zoomInOut 15s linear infinite;
                        
                    }
                    .img-2 {
                        @include smaller-than-800 {
                            display: none;
                        }
                    }
                }   
            }
        }

        .info-level-two-wrapper {
            @include center();
            margin-bottom: 500px;
            @include smaller-than-880 {
                margin-bottom: 400px;
            }
            @include smaller-than-800 {
                @include center-column();
            }
            @include smaller-than-600 {
                margin-bottom: 300px;
            }
            @include smaller-than-425 {
                margin-bottom: 200px;
            }
            &__img-wrapper {
                padding: 200px 30px 20px 0;
                @include smaller-than-800 {
                    padding: 50px 0 50px 0;
                }
                .img-box {
                    position: relative;
                    max-width: 570px;
                    @include center();
                    overflow: hidden;
                    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
                    @include smaller-than-1050 {
                        max-width: 400px;
                    }
                    @include smaller-than-800 {
                        max-width: 570px;
                    }
                    @include smaller-than-600 {
                        max-width: 450px;
                        height: 500px;
                    }
                    @include smaller-than-480 {
                        max-width: 350px;
                        height: 440px;
                        clip-path: none;
                    }
                    @include smaller-than-380 {
                        max-width: 300px;
                    }

                    &::before {
                        width: 100%;
                        height: 100%;
                        background: #000;
                        opacity: 0.3;
                        z-index: 1;
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                    }
                    &::after {
                        position: absolute;
                        content: 'PROFESJONALIZM';
                        font-family: $header-font;
                        font-size: 3vw;
                        opacity: 0;
                        transform: translateY(-70px) rotate(5deg);
                        transition: 0.2s;
                        z-index: 1;
                    }
                    &:hover::after {
                        opacity: 1;
                        transform: translateY(0px) rotate(5deg);
                    }

                    .level-two-img {
                        animation: moveInOut 20s linear infinite;
                    }
                }   
            }

            &__content-wrapper {
                max-width: 550px;
                @include center-right-column();
                z-index: 1;
                @include smaller-than-600 {
                    @include center-column();
                }
                .heading-text {
                    text-transform: uppercase;
                    font-size: 42px;
                    margin-bottom: 40px;
                    text-align: right;
                    @include smaller-than-880 {
                        font-size: 35px;
                    }
                    @include smaller-than-600 {
                        font-size: 30px;
                        text-align: center
                    }

                }
                .content-items-wrapper {
                    @include center-right-column();
                    @include smaller-than-600 {
                        @include center-column();
                    }
                    .content-item {
                        font-size: 30px;
                        margin-bottom: 10px;
                        font-family: $content-font;
                        @include smaller-than-880 {
                            font-size: 25px;
                        }
                        @include smaller-than-600 {
                            font-size: 20px;
                        }
                    }
                }

            }

            .button-to-contact {
                width: 145px;
                height: 40px;
                @include center();
                text-decoration: none;
                color: $font-color-white;
                margin-top: 50px;
                font-family: $content-font;
                position: relative;
                overflow: hidden;
                background: #313131;
                &::before {
                    width: 40px;
                    height: 10px;
                    content: '';
                    position: absolute;
                    background: #2374EE;
                    bottom: -9px;
                    left: -39px;
                    animation: moveAround 2s infinite;
                }
                &::after {
                    width: 40px;
                    height: 10px;
                    content: '';
                    position: absolute;
                    background: #2374EE;
                    bottom: -9px;
                    left: -39px;
                    animation: moveAround 2s infinite 1s;
                    
                }
                &:hover {
                    border: 2px solid $font-color-white;
                }
                &:hover::before{
                    opacity: 0;
                }
                &:hover::after {
                    opacity: 0;
                }
            }
        }
    }
}


@keyframes zoomInOut {
    0% {
        transform: scale(1.0);
    } 25% {
        transform: scale(1.0);
    } 50% {
        transform: scale(1.2);
    } 75% {
        transform: scale(1.2);
    } 100% {
        transform: scale(1.0);
    }
}

@keyframes moveInOut {
    0% {
        transform: translate(-30px, -30px) scale(1.2);
    } 25% {
        transform: translate(-30px, -30px) scale(1.1);
    } 50% {
        transform: translate(30px, 30px) scale(1.2);
    } 75% {
        transform: translate(30px, 30px) scale(1.2);
    } 100% {
        transform: translate(-30px, -30px) scale(1.2);
    }
}

@keyframes moveAround {
    0% {
        transform: translate(0, 0);
    } 25% {
        transform: translate(0, -48px);
    } 50% {
        transform: translate(183px, -48px);
    } 75% {
        transform: translate(183px, 0);
    } 100% {
        transform: translate(0, 0);
    }
}