.contact-section {
    width: 100%;
    @include center();
    
    &__content-wrapper {
        width: 77%;
        position: relative;
        @include center();
        z-index: 1;
        .slider-wrapper {
            max-width: 1109px;
            width: 100%;
            height: 600px;
            position: absolute;
            top: -60%;
            @include center();
            overflow: hidden;
            background: $backgourd-color;
            clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
            @include smaller-than-1050 {
                height: 500px;
            }
            @include smaller-than-880 {
                height: 400px;
                top: -30%;
            }
            @include smaller-than-600 {
                height: 300px; 
            }
            @include smaller-than-480 {
                height: 200px;
                clip-path: none;
            }
            &::before {
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.3;
                z-index: 1;
                position: absolute;
                content: '';
                left: 0;
                top: 0;
            }
            &::after {
                width: 100%;
                height: 2px;
                background: $font-color-white;
                content: '';
                z-index: 1;
                bottom: 0;
                left: 0;
                position: absolute;
                animation: loading 9.990s linear infinite;
                transform-origin: left right;
            }

            .slider-box {
                width: 100%;
                .slide--item {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    filter: blur(4px);
                    height: 100%;
                    animation: blurOutZoom 10s linear infinite;
                }
            }
        }
    


        .person-img-wrapper {
            max-width: 584px;
            z-index: 2;
            .person-img {
                width: 100%;
            }
        }
        .phone-wrapper {
            max-width: 1109px;
            width: 100%;
            position: absolute;
            @include center-space();
            @include smaller-than-1350 {
                bottom: 20px;
                z-index: 3;
            }
            &--phone-box {
                @include center();
                .phone-link {
                    @include center-column();
                    text-decoration: none;
                    font-family: $content-font;
                    color: $font-color-white;
                    font-size: 35px;
                    transition: .2s;
                    @include smaller-than-1350 {
                        background: rgba(0, 0, 0, 0.521);
                        padding: 10px;
                    }
                    @include smaller-than-600 {
                        font-size: 25px;
                    }
                    @include smaller-than-425 {
                        font-size: 16px;
                    }
                    i {
                        margin-bottom: 15px;
                    }
                    &:hover {
                        background: rgba(77, 76, 76, 0.521);
                    }
                }
            }
        }
    }
}

@keyframes blurOutZoom {
    0% {
        opacity: 0.4;
        transform: translateX(-30px) scale(1.1);
        filter: blur(4px);
    } 20% {
        opacity: 1;
        transform: scale(1.1);
        filter: blur(4px);
    } 50% {
        transform: translateX(30px) scale(1.1);
        filter: blur(0px);
    } 70% {
        transform: scale(1.2);
        filter: blur(0px);
        opacity: 1;
    } 100% {
        transform: translateX(-30px) scale(1.2);
        filter: blur(0px);
        opacity: 0.4;
    }
}

@keyframes loading {
    0% {
        width: 0;
        
    } 95% {
        width: 100%;
        
    } 100% {
        width: 0;
    }
}